* {
  list-style: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
  outline: 0;
}
body {
  max-width: 100vw;
}
.nav {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
}
.women,
.men {
  text-transform: uppercase;
  font-family: "Roboto Slab", serif;
  padding: 10px;
}
.men {
  margin-top: -39px;
  margin-left: 80px;
  color: rgba(0, 0, 0, 0.466);
}
.nav li {
  font-family: "Roboto Slab", serif;
  padding: 10px;
}
.clothes {
  text-transform: uppercase;
}
.promotion {
  color: brown;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header h1 {
  text-transform: uppercase;
  font-size: 3rem;
  margin-bottom: 30px;
  margin-top: 30px;
}
.header p, span {
  font-family: "Roboto Slab", serif;
  font-size: 0.9rem;
}
.header span {
  color: #e2e2e2;
  margin-left: -190px;
}
.header p {
  margin-top: -19px;
  margin-left: 180px;
  font-family: "Roboto Slab", serif;
  font-size: 0.9rem;
}
.images {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin-top: 90px;
  margin-left: 20px;
  margin-right: 20px;
  vertical-align: bottom;
}
.images img {
  width: 400px;
  height: 500px;
  margin-bottom: 20px;
}
.images p {
  display: grid;
  justify-items: center;
  align-items: center;
  font-family: "Roboto Slab", serif;
  font-size: 0.9rem;
}
.search {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 20px;
  margin-top: -100px;
  font-family: "Roboto Slab", serif; 
}

.search input {
  margin-bottom: 30px;
  width: 400px;
  padding-left: 20px;
  border-width: 0;
  border-bottom-width: 3px;
  font-family: "Roboto Slab", serif;
  font-size: 0.9rem;
  background-image: url(./imagenes/icons/search.png);
  background-size: 15px 15px;
  background-repeat: no-repeat;
}
.search img {
    padding: 5px;
}
.underLabel {
  text-transform: uppercase;
  letter-spacing: 3px;
}
.four {
  color: #53947e;
}
.filter {
  margin-left: 20px;
}
.last {
  font-family: "Roboto Slab", serif;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
  padding-top: 50px;
  border-top-width: 2px;
  border-top-style: solid;
  border-color: rgba(0, 0, 0, 0.116);
  max-height: 40%;
}
.news {
  font-family: "Roboto Slab", serif;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ContactFolder {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}
.ContactFolder label {
  font-size: 0.7em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ContactFolder input {
  margin-bottom: 30px;
  width: 50vw;
  border-width: 0;
  border-bottom-width: 3px;
  text-align: center;
}
.underFooter {
  display: flex;
  font-size: 0.7em;
  padding: 20px;
  margin-left: -60px;
}
.contact {
  border-top-width: 2px;
  border-top-style: solid;
  border-color: rgba(0, 0, 0, 0.116);
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.8em;
  padding-top: 40px;
}
.last h2 {
  font-size: 2em;
}
.numberPhone {
  color: #53947e;
  margin-right: 5px;
  margin-top: 3px;
}
.underFooter p {
  padding: 0 0 0 7px;
  font-size: 0.7em;
  margin-top: 6px;
}
.Time {
  margin-left: -220px;
  margin-top: 20px;
  font-size: 0.7em;
}
.footer {
  border-top-width: 2px;
  border-top-style: solid;
  border-color: rgba(0, 0, 0, 0.116);
  font-family: "Roboto Slab", serif;
 
}
.tableFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}
.tableFooter th {
    padding: 20px 0 20px 100px;
    text-align:left;
}
.tableFooter td {
    font-size: 0.8em;
    padding: 20px 0 20px 100px;
    text-align:left;
    cursor: pointer;   
}
.apps {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border-top-width: 2px;
    border-top-style: solid;
    border-color: rgba(0, 0, 0, 0.116);
    width: 100vw;
    padding-bottom: 20px;
    margin-top: 60px;
    font-size: 0.9rem;
    text-align: center;
}
.apps th {
    padding-top: 30px;
    border-right-width: 2px;
    border-right-style: solid;
    border-color: rgba(0, 0, 0, 0.116);
}
.app  { 
  text-align: center;
  padding: 30px;
}
.app td {
  text-align: center;
}
