* {
  list-style: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
  outline: 0;
}
body {
  font-family: "Akshar", sans-serif;
  max-width: 100vw;
}
.header {
  background-image: url(../imagenes/coche/portada.jpg);
  max-width: 100vw;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  -webkit-font-smoothing: antialiased;
}
.nav {
  display: flex;
  flex-direction: row;
  color: rgb(255, 255, 255);
}
.nav ul {
  margin-left: 120px;
  display: flex;
  flex-direction: row;
}
.nav li {
  padding: 50px;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: rgba(189, 187, 187, 0.26);
}
.nav li:hover,
.nav li:focus,
.nav li:active {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #1c69d5;
}
.BMWIcon {
  padding-top: 50px;
  margin-left: 60px;
  margin-top: 30px;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: rgba(189, 187, 187, 0.26);
  background-color: #e6e6e6;
  padding: 10px;
}
.navIcons {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(119deg)
    brightness(103%) contrast(102%);
  margin-left: 800px;
  padding-top: 30px;
}
.navIcons img {
  padding: 20px;
  cursor: pointer;
}
.main {
  color: #fff;
  padding: 12px;
  margin-top: 580px;
  margin-left: 20px;
  font-size: 2rem;
}
button {
  background-color: #1c69d5;
  font-size: 1rem;
  color: #fff;
  width: 180px;
  height: 35px;
  cursor: url("../imagenes/iconos/coche.png"), pointer;
}
button:hover {
  background-color: #fff;
  color: #1c69d5;
}

.navModels ul {
  display: flex;
}
.navModels li {
  padding: 15px 0;
}
a {
  color: rgb(0, 0, 0);
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}
a::after {
  bottom: 0;
  content: "";
  display: block;
  height: 4px;
  left: 50%;
  position: absolute;

  background: #1c69d5;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

a:hover:after {
  width: 100%;
  left: 0;
}
a:hover {
  font-size: 200%;
  font-style: bold;
  margin-top: -10px;
}
.firstPage {
  margin-top: 30px;
  margin-left: 20px;
}
.firstPageText {
  color: rgba(0, 0, 0, 0.336);
}
.modelPage img {
  width: 400px;
  height: 200px;
}
.midPage img {
  width: 300px;
  height: 200px;
}
.modelPage img {
  border-radius: 40px;
  border-style: solid;
  margin-top: 30px;
  margin-bottom: 50px;
}
.modelPage img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.modelPage img:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.1);
}
.modelPage h3 {
  margin-top: 20px;
  margin-bottom: 30px;
}
.modelPage {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 30px;
  justify-items: center;
  margin: auto;
}
.modelPage h3 {
  cursor: pointer;
}
.midPage {
  display: flex;
  margin-top: 300px;
  justify-content: space-evenly;
}
.midPage img {
  margin-bottom: 20px;
  -webkit-filter: blur(3px);
  filter: blur(3px);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.midPage img:hover {
  -webkit-filter: blur(0);
  filter: blur(0);
}
.midTEXT1,
.midTEXT2,
.midTEXT3,
.midTEXT4 {
  border-width: 2px;
  border-style: solid;
  border-color: rgba(189, 187, 187, 0.26);
  padding: 20px;
  max-width: 444px;
  max-height: 900px;
  cursor: pointer;
}
.midTEXT5 iframe,
.midTEXT6 iframe {
  margin-bottom: 20px;
}
.midPage2 {
  display: flex;
  justify-content: space-around;
}
.midTEXT5,
.midTEXT6 {
  border-width: 2px;
  border-style: solid;
  border-color: rgba(189, 187, 187, 0.26);
  cursor: pointer;
  padding: 20px;
}

.midPage h3 {
  margin-bottom: 10px;
}
.midPage p {
  margin-bottom: 10px;
}
.midPage2 {
  display: flex;
}
.squares {
  display: flex;
  justify-content: space-evenly;
  margin-top: 100px;
}
.square1,
.square2,
.square3,
.square4 {
  background-color: #f2f2f2;
  color: #969696;
  padding: 20px 100px;
  cursor: pointer;
}
.square1 img,
.square2 img,
.square3 img,
.square4 img {
  filter: invert(70%) sepia(3%) saturate(0%) hue-rotate(157deg) brightness(94%)
    contrast(77%);
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.footer {
  max-width: 100vw;
  margin-top: 100px;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #e6e6e6;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer td {
  color: #979797;
  cursor: pointer;
}
.footer td:hover {
  color: #1c69d5;
}
.footer th,
.footer td {
  text-align: left;
  padding: 0 10px 0 10px;
  font-size: large;
  justify-content: center;
}
.footer th {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #b7b8be;
  padding-top: 20px;
}
.underFoot {
  height: 100px;
  margin-left: 100px;
  margin-top: 50px;
}
.links {
  color: #1c69d5;
  margin-left: 740px;
  letter-spacing: 1.1px;
  cursor: pointer;
}
