
.cuadrado1, .cuadrado2, .cuadrado3{
    width: 200px;
    height: 200px;
}

/*border: solid;
    background-color: aqua;
    border-style: solid;
    border-color: crimson; */

    /*<div class="cuadrado1" style="
    border-left-width: 10px;
    border-bottom-width: 10px;
    border-top-width: 10px;
    border-right-width: 10px;
"></div>*/

.cuadrado1{
    background-color: aqua;
}
.cuadrado2{
    background-color: chocolate;
}
.cuadrado3{
    background-color: red;
}